{% extends 'main/base.html.twig' %}

{% block body %}


	<body>

      <section class="contenido">
            <img class="card-img" src="https://www.mercadona.es/img/header-medium.088535.jpg" alt="Card image">   

<div class="card-group ">
  <div class="card">
    <img  src="https://visualpharm.com/assets/590/Shopping%20Cart%20Loaded-595b40b85ba036ed117daa6a.svg" alt="Card image cap" width="80" height="80">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     
    </div>
  </div>
  <div class="card">
    <img src=" https://map.joocode.com/images/logo.png" alt="Card image cap"width="80" height="80">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
   
    </div>
  </div>
  <div class="card">
    <img  src="https://i.pinimg.com/736x/4f/50/32/4f5032f0a9340c157f5f66d74fd59153--computer-icon-a-small.jpg" alt="Card image cap"width="80" height="80">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    </div>
  </div>
</div>
<div id"wrapper">
  <div id="google_map">
<iframe class="map"src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6231035.494982832!2d-3.998644531250024!3d40.30910834625714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1527765755646" width="1300" height="300" frameborder="0" style="border:0" allowfullscreen >
</iframe>
<div id="over_map">
</div>
</section>
</body>

	{% endblock %}



