{% extends 'base.html.twig' %}

{% block title %}Nueva Categoria{% endblock %}

{% block body %}
    <h1>Crear nueva Categoria</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('categoria_index') }}">Volver a la lista</a>
{% endblock %}