{% extends 'base.html.twig' %}
{% block stylesheets_extra %}
  <link rel='stylesheet' href="{{ asset('build/tienda.css')}}">

{% endblock %}
{% block header %}
<header>
  
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <img  class="logo"src="http://static.ideal.es/www/multimedia/201706/23/media/cortadas/mercd-kfM--624x385@Ideal.jpg" width="200" margin-left="60px">
   <form class="form-inline my-2 my-lg-0">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Más habituales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
   
  </div>
</nav>

</header>
{% endblock %}




{% block footer %}
<footer>
 
</footer>
{% endblock %}




