{% extends 'tienda/base.html.twig' %}


{% block stylesheets_extra %}
	<link rel='stylesheet' href="{{ asset('build/tienda.css')}}">

{% endblock %}


{% block body %}

  <body>
       <div id="primer"class="container">
        <div class="row">
        <div id="segundo"class="col"style="background-color: #65a4a4;">
         <h1 class="card-title">Nos reinventamos <br>contigo</h1>
                <a href="#" class="btn btn-primary">Ver productos</a>
           </div>
        <div class="col">
          <img src="https://storage.googleapis.com/itg_statics_mimercadona/media/seasons/banners/banner_healthy.jpg" width="350">
           </div>
        </div>
      </div>

   

     


      
  
       {% for producto in productos %}
        <div class="container-fluid">
          <div class="container">
          <div class="card-deck">
           <div class="row">
                <div class="Scol-lg-3 col-md-4 col-sm-6">
                  <div class="card">
                        <img class="card-img-top" src="Https://prod-mercadona.imgix.net/20180604/16/69416/69416_00_07.jpg?fit=crop&h=600&w=600" alt="Card image cap" width="100">
                          <h5 class="card-title">{{ producto.nombre }}</h5>
                          <p class="card-text">{{ producto.precio }}.</p>
                          <p class="card-text">{{ producto.descripcion }}.</p>                       
                           <button type="button" class="btn btn-outline-warning">Añadir al carro</button>
                  </div>
            </div>
          </div>  
        </div> 
        </div>
        </div>   
                        {% endfor %}
 
  
                       
    
         
       
  

  </body>
  
{% endblock %}



