
@import '~bootstrap/dist/css/bootstrap.min.css';


#menu > .navbar > ul > .input-group > input{

    width:120px;

}

#menu > .navbar > a > img{

    margin-right: 40px;

}

#menu > .navbar {

    text-align: left;

    margin-top: 15px;

}

#menu > .navbar > ul > li > a{

    font-size: 12px;

    font-family: Muli;

    font-weight: bold;

    margin-left: 30px;

}

#menu input{

    border-top-right-radius: 20px; 

    border-bottom-right-radius: 20px;

    border-left-color:#f8f8f7;

    background-color: #f8f8f7;

}

#menu button{

    border-top-left-radius: 20px; 

    border-bottom-left-radius: 20px;

    border-right-color: #f8f8f7;

    border-left-color: #ced4da;

    border-top-color: #ced4da;

    border-bottom-color: #ced4da;

    background-color: #f8f8f7;

}

