
@import '~bootstrap/dist/css/bootstrap.min.css';




#primer{
color: white;
margin-left: 80px;

}
.card-img-top{
width:100%;

}
.col{
padding-left: 30px;
padding-right: 30px;
padding-top: 50px;
padding-bottom: 50px;


}