        <header>
	
			<nav> 
                
			      <img  class="logo"src="http://static.ideal.es/www/multimedia/201706/23/media/cortadas/mercd-kfM--624x385@Ideal.jpg" width="200" margin-left="60px">
				  <a href="#home">Conócenos</a>
				  <a href="#news">Supermercados</a>
				  <a href="#contact">Trabaja con nosotros</a>
				  <a href="#contact">Atención al cliente</a>

			</nav>
      </header>